<!-- Header Section Start -->

    <header id="main-area">    
      <div class="overlay-2"></div> 
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="animated fadeInDown slow pos">Creating Software With More Stability To Reach The Market Faster</h1>
              <p class="lead pos animated fadeIn">Arkhitech is Web & Mobile App Development Company. We Are experienced in design & Develop websites, Mobile Apps and Applications.</p>
              <a href="#portfolios" class="btn pos btn-common wow fadeInUp"> View Our Work</a>
            </div>
              
          </div>
        </div> 
      </div>      
    </header>
    <!-- Header Section End --> 
 
    <!-- Blog Section -->
    <section id="blog" class="section">
      <h1 class="last-found">Last Found</h1>
      <!-- Container Starts -->
      <div class="card-columns">
      <%= render partial: 'posts/post', collection: @posts %>
    </div>
    </section>
    <!-- blog Section End -->
  
    <!-- testimonial Section Start -->
    <div id="testimonial" class="section">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10 fadeInRight">
            <div class="touch-slider owl-carousel owl-theme">
              <div class="testimonial-item">
              
                <div class="testimonial-text">
                  <p>We got Arkhitech to build us a simplified 4-page online store.<br> They took just over a week to code, fix bugs and address change requests.<br> You can rely on them to get the job done!</p>
                  <h3>Johnathan Doe</h3>
                  <span>Marketing Head Matrix media</span>
                </div>
              </div>
              <div class="testimonial-item">
                
                <div class="testimonial-text">
                  <p>Arkhitech provides excellent workmanship. They communicate effectively and complete tasks quickly.<br> I would not hesitate to recommend them for your jobs, and I hope to work with them on future projects of my own.</p>
                  <h3>Oidila Matik</h3>
                  <span>President Lexo Inc</span>
                </div>
              </div>
              <div class="testimonial-item">
                
                <div class="testimonial-text">
                  <p>Thanks for the quick work… Exactly what I wanted. Great work.</p>
                  <h3>- Alex Dattilo</h3>
                  <span>CEO Optima Inc</span>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <!-- testimonial Section Start -->
    <%= render 'main/partials/contact' %>

    